
.testimonial_subtitle{
    color: #0097CA;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
 }
 .seprator {
    height: 2px;
    width: 56px;
    background-color: #0097CA;
    margin: 7px 0 10px 0;
}
.item   h2 {
    margin-bottom: 10px;
    font-size: 1em;
}
p.testimonial_para {
    margin: 10px 0px;
    text-align: justify;
    font-size: 0.9em;
}
.fecha_post{
    display: flex;
    flex-direction: row;
}
.mas_detalle h4{
    margin-left: 20px;
    text-align: right;
    font-size: 1em;
}
.fecha_post p{

    font-size: 13px;
}
.fecha_post{

    margin: 0px 0px 0px 30px;
}
.fecha_post p{

    margin-left: 10px;
    color: #373d4b;
}
.fecha_post i{
    color:  black;
    
}